@import "general.css";

.listasinboton li{/*Estilo para la lista de perfiles en redes*/
    list-style-type: none;
}

.asist{ /*Estilo para los botones de hipervínculo a los distintos apartados: FAQs, form y perfiles*/
    display: block;
    text-align: center; 
}