/*Flexible grids para la vista de cursos*/
@import "general.css";

@media screen and (min-width: 1050px){
    /* Estilos para los artículos */
    section article {
        float:inline-start;
    }

    /* Establecer anchura y flotación de las columnas dentro de los artículos */
    section article .col1{
        background-color: #d9b8fc;
        border: 2px solid black;
        padding: 10px;
        float: left;
        width: 50%;
    }
    section article .col2{
        background-color: #d9b8fc;
        border: 2px solid black;
        padding: 10px;
        float: right;
        width: 45%;
    }
    section article .col2 table { /* Aplicar estilos a la tabla */
        display: inline-block; 
    }
    .cursos{
        display: inline-block;
    }

    
}
@media screen and (max-width: 1050px){
    .cursos{
        display: block;
        text-align: center; /* Centra los botones */
    }
    .cursos li {
        display: block; /* Cada botón ocupa una línea distinta */
        padding: 10px;
    }
    .cursos li a {
        display: inline-block; /* Hace que los botones ocupen el ancho necesario */
    }
    section article .col2 table {
        margin: 0 auto; /* Centra la tabla horizontalmente */
    }
}

