/*Flex container para la vista del formulario de inscripción en curso*/
@import "general.css";

.contenedor{ /*Cada fieldset del formulario es un contenedor.*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor > fieldset{
    margin-right: 10px;
}
.contenedor > fieldset:last-child{
    margin-right: 0px;
}