/* Estilos generales */

/* Importar la fuente Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Aplicar la fuente Quicksand a todos los elementos de texto */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #71daf5; /* Color azul claro */
    color: #000;
}

/* Estilo del encabezado */

header{
    background-color: #71b0f5; 
    color: #000; 
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

/* Estilo del logo */
#logo {
    width: 100px;
    height: 100px;
    grid-column: span 3; /* Ocupa 3 columnas*/
}

/* Estilo de la navegació cursos-usolibre-laempresa */
#menu{
    grid-column: 9 / span 4; /*Ocupa 3 cols empezando en la 6ª*/
    text-align: right;
}
#menu ul {
    list-style-type: none; /* Elimina el estilo de viñeta */
}
#menu ul li{ /*Poner los botones uno a la drcha de otro con 10 px de espacio en medio*/
    display: inline-block;
    margin-right: 10px;
}

#menu ul li a {
    background-color: #d9b8fc; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilos del log */
#log{
    grid-column: 10 / span 3; /*Ocupa 3 cols empezando en la 6ª*/
    text-align: right;
}
#log ul {
    list-style-type: none; /* Elimina el estilo de viñeta */
}
#log ul li{ /*Poner los botones uno a la drcha de otro con 10 px de espacio en medio*/
    display: inline-block;
    margin-right: 10px;
}

#log ul li a {
    background-color: #71b0f5; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilo del título y subtitulo */
#titulo, #subtitulo {
    grid-column: 4 / span 6; /* Empezando en la columna 4, ocupa 6 columnas */
    text-align: center; /* Centra el contenido */
}

