/*HOJA DE ESTILO GENERAL APLICADO A TODAS LAS PÁGINAS*/

/*Es la única forma en la que conseguí importar bien Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{ /*Características generales del fondo*/
    font-family: Quicksand, sans-serif;
    background-color: #71daf5;
    color: #000000;
    text-align: center;
    padding: 10px; /*Para dejar un poco de margen entre el borde de la pantalla y las cajas*/
}

nav{ /*Características generales del menú de navegación*/
    background-color: #71b0f5;
    padding: 10px; 
    /*Usamos flex para conseguir posicionar los elementos como queremos*/
    display: flex;
    align-items: center; /*Centrar los elementos en el recuadro verticalmente*/
    justify-content: space-between; /* Para establecer la distribución horizontal que queremos: el logo en un extremo y los botones en el otro*/
    flex-wrap: wrap;
}

/*botones*/
/*ESTILO PARA BOTONES EN FORMATO HTML DE LISTA*/
.botones{
    text-align: right; /*Los botones comunes están alineados así. Es más cómodo estandarizar que estén a la drcha y luego atender a los casos concretos*/
}
.botones li{
    display: inline-block; /*Estilo de bloque para poner los elementos en horizontal en vez de vertical*/
}
.botones li a, .subbotones li a{/*Caracteristicas generales de los botones*/
    background-color: #a595fc;
    color: #ffffff;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    border: 2px solid black;
}
.subbotones li a {/*Características específicas de los subbotones*/
     background-color: #71b0f5;
}


/*ESTILO PARA BOTONES REDONDEADOS*/
.asistencia { /*Características del botón de asistencia*/
    /*Tamaño*/
    width: 50px; 
    height: 50px; 
    /*Redondeo y colores*/
    border-radius: 50%; 
    background-color: #d9b8fc;
    color: black; 
    /*Centrado vertical y horizontal del "?"*/
    text-align: center; 
    line-height: 50px; 
    position: fixed; 
    font-size: 150%;
    /*Botón anclado a la pantalla*/
    bottom: 20px; 
    right: 20px; 
    text-decoration: none;
    border: 2px solid black;
}

/*ESTILO PARA BOTONES NO EN LISTA EN HTML*/
.nolistboton{
    display: inline-block;
    background-color: #71b0f5;
    color: #ffffff;
    padding: 10px;
    margin: 0 5px;
    border: 2px solid black;
    text-decoration: none; /*Quitar subrayado*/
    /* Esto es necesario para que los submit tengan el mismo formato que el resto de botones */
    font-family: Quicksand, sans-serif;
    font-size: 100%;
}

/*ESTILO PARA SECCIONES*/
section{
    padding: 10px;
}
section article{/*Características generales de los artículos*/
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}