/*Estandares del cuerpo de la pagina*/
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #71DAF5;
    margin: 0;
}

/*Estandares de todos los botones: tipografia y animaciones*/
button{
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3;
}

/*Estilo del menu*/
.menu-superior {
    background-color: #71B0F5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

/*Estilo de los botones del menu*/
.menu-superior button {
    background-color: #A595FC;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

/*Estilos del grupo titulos*/
.titulos {
    text-align: center; 
    margin-left: 20px;
}

/*Estilos del contenedor para h1 y botones*/
.h1-botones {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.h1-botones h1 {
    color: #000000;
    font-size: 32px;
    align-items: center;
    margin: auto;
}

/*Estilos para los botones de iniciar sesion y registro*/
.botones-sesion {
    margin-left: auto;
}

.botones-sesion button {
    background-color: #71B0F5;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

/*Estilo para el subtitulo*/
.titulos p {
    color: #000000;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    text-align: center;
}

/* Estilos para el recuadro centrado */
.recuadro-centrado {
    text-align: center; /* Centra horizontalmente el recuadro */
    margin-top: 20px; /* Espacio superior */
}

.recuadro {
    background-color: white;
    border: 2px solid black; /* Borde negro */
    width: 700px; /* Ancho del recuadro */
    height: 400px; /* Altura del recuadro */
    display: inline-block; /* Permite alinear los botones verticalmente */
    vertical-align: middle; /* Alinea los botones verticalmente */
    margin-left: 0px;
    margin-right: 0px;
}

/* Estilos para los botones de flecha */
.flecha-izquierda,
.flecha-derecha {
    background-color: #71B0F5;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0 0px;
    cursor: pointer;
    font-size: 16px;
}

/* Resaltar botones al pasar el cursor */
button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); /* Se crea una sombra */
    background-color: rgb(71, 160, 255); /* Se oscurece */
}
.menu-superior button:hover {
    background-color: rgb(142, 122, 255); /* Se oscurece (caso concreto de los botones del menu) */
}

/* Estilos para el mapa */
.mapa {
    text-align: center; /* Centra horizontalmente el contenido */
    margin-top: 20px; /* Espacio superior */
}

.mapa iframe {
    margin: 20px; /* Margen alrededor del mapa */
}