/*Css multicol*/
@import "general.css";
section article{
    background-color:#a595fc;
}
.contenedor{
    text-align: justify;
    background-color: #d9b8fc;
    border: 2px solid black;
    padding: 10px;
}
.contprofe, .continstalas{
    text-align: center;
    margin-bottom: 30px;
    background-color: #d9b8fc;
    border: 2px solid black;
    padding: 10px;
}

@media screen and (min-width: 1050px){
    .contenedor, .contprofe, .continstalas{
        column-count: 2;
    }
    
    .contprofe img{
        max-width: 100%;
        height: 100%;
    }
    .laempresa{
        display: inline-block;
    }
    #a4{
        break-before: column; /*Forzamos el cambio de columna manualmente antes del a4*/
    }
}
@media screen and (max-width: 1050px){
    .subbotones{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        padding: 0px;
    }

    .laempresa{
        display: block;
        text-align: center; /* Centra los botones */
        margin-bottom: 2px;
    }
    .laempresa li {
        display: block; /* Cada botón ocupa una línea distinta */
        padding: 5px;
    }
    .laempresa li a {
        display: inline-block; /* Hace que los botones ocupen el ancho necesario */
    }
    article img{
        max-width: 100%;
        height: 100%;
    }
}