/*Css multicol para la vista de información de la empresa*/
@import "general.css";
section article{/*Estilo de los artículos*/
    background-color:#a595fc;
}
/*Estilos generales para los contenedores multicol*/
/*Será el estilo por defecto y el que se aplicará a las pantallas pequeñas*/
.contenedor{ /*Historia*/
    text-align: justify;
    background-color: #d9b8fc;
    border: 2px solid black;
    padding: 10px;
}
.contprofe, .continstalas{ /*Profesores e instalaciones*/
    text-align: center;
    margin-bottom: 30px;
    background-color: #d9b8fc;
    border: 2px solid black;
    padding: 10px;
}

@media screen and (min-width: 1050px){ /*Pantallas grandes*/
    .contenedor, .contprofe, .continstalas{ /*2 columnas en cada contenedor*/
        column-count: 2;
    }
    
    .contprofe img{
        max-width: 100%;
        height: 100%;
    }
    .laempresa{
        display: inline-block;
    }
    #a4{ /*Todas las instalaciones aparecen en el mismo contenedor. Ponemos el break para que queden el mismo número en cada columna*/
        break-before: column;
    }
}
@media screen and (max-width: 1050px){ /*Pantallas pequeñas*/
    /*Ajuste de posición de botones*/
    .subbotones{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        padding: 0px;
    }

    .laempresa{
        display: block;
        text-align: center; 
        margin-bottom: 2px;
    }
    .laempresa li {
        display: block; 
        padding: 5px;
    }
    .laempresa li a {
        display: inline-block;
    }
    article img{
        max-width: 100%;
        height: 100%;
    }
}