@import "general.css";

aside .list-group-item {/*Formato de los elementos del menú interno*/
    background-color: #71b0f5; 
    border: 2px solid black ; 
    color: white; 
}


section article .col1, .col2{/*Formato de los artículos*/
    background-color: #d9b8fc;
    border: 2px solid black;
    padding: 10px;
    height: 400px;
}
